# 01. intro

## shortcut

- ctrl + enter : 현재 셀 실행
- shift + enter : 현재 셀 실행 & 아래로 이동
- alt + enter : 현재 셀 실행 & 아래에 새로운 셀 추가

## 주의사항

1. Apple / apple
2. git add. / git add .
3. message / massage

# 01. 변수

```
var_name(변수이름) = value(값)
```

- 변수 이름은 어떤 이름이든 사용가능 (한글을 사용할 수는 있지만 영어로 사용)
- 다만 영어, 숫자, _를 이용해서 선언
- 키워드(안되는 것 몇가지)는 불가능 (파이썬의 기능을 가진 이름들)

In [67]:
a = 100

In [68]:
a

100

In [69]:
import keyword # 파이썬의 기능을 가지고 있어 변수 이름으로 할 수 없는 키워드들
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [70]:
seoul_dust_rate = 150

# 1.1 number

In [71]:
a = 10000

In [72]:
a

10000

In [73]:
type(a)

int

In [74]:
b = 1.1

In [75]:
b

1.1

In [76]:
type(b)

float

In [77]:
c = 1 + 1j

In [78]:
c

(1+1j)

In [79]:
type(c)

complex

## 1.2 boolean(불리언) - 참 / 거짓

In [80]:
a = True

In [81]:
a

True

In [82]:
type(a)

bool

In [83]:
b = False

In [84]:
b

False

## 1.3 string - 문자열
- `'`, `"`를 이용하여 표현

In [85]:
a = 'hello'

In [86]:
b = "hi"

In [87]:
a

'hello'

In [88]:
b

'hi'

In [89]:
print('hello my name is "hyojin"') # '' 안에 "" 는 충돌 없이 출력

hello my name is "hyojin"

In [90]:
# ''는 문자열을 작성하는 기호지만 코드 내 ''까지 출력되길 원하면 \'\'으로 표기
# \n 줄바꿈
print('hello\n my name is \'hyojin\'')

hello
 my name is 'hyojin'

In [91]:
a = '''
hello
world
hi
''' 
# 줄바꿈을 하기 위한 예제
# 문자열('')에서는 줄바꿈이 들어가지 않는 것이 일반적이지만 (''' ''')로 묶는 경우 줄바꿈을 포함하여 출력(print)할 수 있음

In [92]:
print(a)

hello
world
hi

In [93]:
a = 10
b = '홍길동은 a살입니다.'

### string interpolation (문자열 안에 변수를 삽입하는 방법)

- %-formatting
- st.format()
- f-string

In [94]:
age = 10

In [95]:
print('홍길동은 %s살입니다.' % age) # %s는 문자열, %d는 정수를 의미

홍길동은 10살입니다.

In [96]:
print('홍길동은 {}살입니다.'.format(age)) #%-formatting보다 가독성이 조금 더 좋아짐

홍길동은 10살입니다.

In [97]:
print(f'홍길동은 {age}살입니다.') #f를 문자열 앞에 붙이고 {}안에 변수를 직접 입력

홍길동은 10살입니다.

# 02. 연산자

# 2.1 산술연산자

In [98]:
a = 5
b = 2

In [99]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

7
3
10
2.5

In [100]:
print(a ** b) # 제곱
print(a // b) # 나눠서 몫만 출력
print(a % b) # 나눠서 나머지만 출력

25
2
1

In [101]:
result = divmod(a, b) #divmod 몫과 나머지가 한꺼번에 계산됨
print(result)

(2, 1)

## 2.2 비교연산자

In [102]:
a = 5
b = 10

In [103]:
print(a > b) # 부등호는 물음표라고 생각하기, a가 b보다 크니?
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True

In [104]:
print(a == b) # 얘네 둘은 같나요?, '='와 같음
print(a != b) # 얘네 둘은 다른가요?

False
True

In [105]:
print('hi' == 'hi')
print('hi' == 'HI')

True
False

# 2.3 논리연사자
- and : 양쪽 모두를 만족해야 True, 하나라도 만족하지 않으면 False
- or : 한쪽만 만족해도 True, 둘 다 만족하지 않으면 False
- not : 상태를 부정

In [106]:
print(True and True)
print(True and False)
print(False and True)
print(False and False)

True
False
False
False

In [107]:
print(True or True)
print(True or False)
print(False or True)
print(False or False)

True
True
True
False

In [108]:
a = True
print(not a)

False

In [109]:
# 단축평가
print(3 and 5) # T+T = F
print(3 and 0) # T+F = F
print(0 and 5)
print(0 and 0)

5
0
0
0

In [110]:
print(3 or 5)
print(3 or 0)
print(0 or 5)
print(0 or 0)

3
3
5
0

# 2.4 복합 연산자

In [111]:
a = 2
b = 3

In [112]:
a = a + b

In [113]:
a

5

In [114]:
a = a + b
a = a - b
a = a * b
a = a / b

In [115]:
a += b
a -= b
a *= b
a /= b
a **= b
a //= b
a %= b

# 2.5 기타연산자

In [116]:
a = 'hi'
b = 'hello'

In [117]:
# concatenation 문자열의 연결
# 글자끼리는 연결이 되고, 숫자끼리는 연산이 됨.
# 글자+숫자인 경우 +는 연결로 인식 / 숫자+글자인 경우 +는 연산으로 인식하여 오류
print(a + b)

hihello

In [118]:
# 리스트의 경우 concatenation으로 작동됨
a = [1, 2, 3]
b = [2, 3, 4]

In [119]:
print(a + b)

[1, 2, 3, 2, 3, 4]

In [120]:
print(1 in a) #1이라는 데이터가 a에 포함되어 있나요?
print(10 in a)

True
False

In [121]:
a = 100
b = 100

In [122]:
print(a == b) #a = b 인가요? (값)
print(a is b) #왼쪽과 오른쪽이 같은가요? (본질적으로 두 객채가 동일한가요)
#256까지만 True (같은 위치에 항상 있기 때문에, 자주 쓰는 숫자이므로 메모리 위에 똑같은 위치에 갈 수 있도록 컴퓨터에 미리 셋팅됨)
#따라서 a = 100, b = 100인 경우 true, a = 500, b = 500인 경우 is는 False

True
True

### 연산자 우선순위
0. ()를 통해서 그룹
1. ** (제곱)
2. 산술연산자(*, /)
3. 산술연산자(+, -)
4. 비교연산자(부등호), in, is
5. not
6. and
7. or

In [123]:
print(-3 ** 4)
print((-3) ** 4)

-81
81

# 3. 형변환 (형태변환)

## 3.1 암시적 형변환 (파이썬이 알아서 자동으로 변환해주는 것)

In [124]:
a = True # 1로 인식
b = False # 0으로 인식
c = 1

In [125]:
print(a + b)
print(a + c)

1
2

## 3.2 명시적 형변환
- int()
- float()
- str() - 문자로 바꿔줭
- bool()

In [126]:
a = 1
b = '반'

In [127]:
print(a + b)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(str(a) + b)

In [ ]:
a = '3' # 따옴표 안에 있기 때문에 글자 3
print(a)
print(type(a))

b = int(a)
print(b)
print(type(b))

In [ ]:
c = 'apple' # apple은 숫자로 바꿀 수 없으니깐!
d = int(c)

In [128]:
a = 1
b = 0
c = 123
print(bool(a)) # 값이 있으면 True
print(bool(b)) # 값이 없으면 False
print(bool(c))

True
False
True

In [129]:
print(bool([])) # 리스트는 집합체인데 담을 데이터가 없으므로 False
print(bool([1, 2, 3])) # 리스트는 데이터를 담을 수 있는 집합체이므로 무엇이든 들어있으면 True

False
True

In [ ]:
divmod(5, 2) # 5에서 2를 나눈 후 몫과 나머지를 구해줘 -> 시스템으로 계산값만 출력됨

In [ ]:
# 계산 끝낸 이후 작업을 이어나가기 위해 result 이용
result = divmod(5, 2)
print(result)

# 4. 시퀀스 자료형
- 시퀀스는 데이터의 **순서대로** 나열된 자료구조 (순서대로 나열되었다는 것은 정렬된 것과는 다르다)
1. List
2. Tuple
3. Range
4. String

## 4.1 List (리스트, 배열)
- 선언 : `var_name(변수이름) = [value1, value2, value3, ...]`
- 접근 : `var_name[index(n번째, 순서)]`

In [ ]:
l = []
print(l)
print(type(l))

In [ ]:
location = ['서울', '대전', '부산']
print(location)
print(location[1])

location[1] = '대구' # 1번 리스트를 변수('대구')로 바꿔줘
print(location)

## 4.2 Tuple(튜플)
- 선언 : var_name = (value1, value2, value3, ...)
- 접근 : var_name[index]
- 수정불가능하다(immutable)

In [ ]:
location = ('서울', '대전', '대구')
print(location)
print(location[0])

In [ ]:
location[2] = '부산'

In [ ]:
result = divmod(5, 2)
print(result)
print(type(result))

In [ ]:
x = 1
y = 2

(x, y) = (y, x)
print(x, y)

## 4.3 Range(범위)
- range(n) : 0부터 n-1까지 범위 (0 이상 n 미만)(연속적으로 n 이상을 셈할 수 있기에)
- range(n, m) : n부터 m-1까지 범위
- range(n, m, s) n부터 m-1까지 s만큼 증가하는 범위

In [ ]:
lotto = range(45) # 0 이상 45 이하이기 때문에 list 하면 25가 빠짐
print(lotto)
print(list(lotto))

In [ ]:
lotto = range(1, 46)
print(lotto)
print(list(lotto))

In [ ]:
even = range(2, 20, 2) # even(짝수)
print(list(even))

In [ ]:
numbers = range(0, -20, -2)
print(list(numbers))

## 4.4 String
- 기본 데이터 구조 참고

## 시퀀스에서 활용가능한 연산/함수

In [ ]:
my_list = ['a', 'b', 'c', 'd', 'e']
my_tuple = (6, 7, 8, 9, 10)
my_range = range(5)
my_string ='가나다라마'

In [ ]:
# indexing 해당 번째에 접근하는 방법
print(my_list[0])
print(my_tuple[0])
print(my_range[0])
print(my_string[0])

In [ ]:
# slicing a번째부터 b번째까지의 정보를 잘라서 나에게 줘
# var_name[index1 : index2]
print(my_list[1:4])
print(my_tuple[2:5])
print(my_range[1:5])
print(my_string[2:5])

In [ ]:
# 인덱스 생략
print(my_list[0:])
print(my_list[3:])
print(my_list[:3])

In [ ]:
# 음수 인덱스(파이썬에서만 사용)
print(my_list[-1])
print(my_list[-3:-1])

In [ ]:
# step
print(my_list[:])
print(my_list[::2]) #범위 지정 x(전체), 2개씩 띄운 값을 뽑아줘

In [ ]:
# in / not in
print(1 in my_list)
print('a' in my_list)

print('a' not in my_list)

In [ ]:
# concatennation (연결)
print(my_list + [1, 2, 3, 4, 5])
print(my_tuple + my_list) #tuple은 tuple끼리만 연결 가능

In [ ]:
# * 반복작업
print(my_list * 2) # my_list를 2번 연결해주세요.
print('a' * 5)
# [0, 0, 0, 0, 0, 0, 0]
print([0] * 10)

In [ ]:
len(my_list) # 길이(갯수)

In [ ]:
max(my_list) # 크기(글자도 숫자로 계산하여 출력됨)

In [ ]:
min(my_list)

# 5. 시퀀스형이 아닌 자료구조

## 5.1 Set
- 수학에서의 집합과 비슷한 개념 (중복값이 없음, 순서도 없음)
- 이 무리를 이용하여 연산을 하는 것이 의미가 있으므로 단일 데이터는 의미가 없음
- 단일 데이터가 아니라 전체 구조로 본다, 따라서 접근이 없음
  
- 선언 : `var_name = {value1, value2, value3, ...}`

In [ ]:
my_set_a = {1, 2, 3, 4, 5, 5, 5, 5, 5, 5}
my_set_b = {1, 3, 5, 7, 9}

In [ ]:
print(my_set_a)
print(my_set_b)

In [ ]:
print(my_set_a - my_set_b)

In [ ]:
print(my_set_a | my_set_b) #합칠 때는 +가 아니라 파이프 기호를 씀

In [ ]:
print(my_set_a & my_set_b) #교집합

## 5.2 Dictionary 다양한 정보를 넣을 때 사용
- 선언 : `var_name = {key1: value1, key2: value2, key3: value3, ...}`
- 접근 : `var_name[key]`

In [ ]:
my_dict = {'서울': '02', '경기': '031'}
# key는 대부분 string
# 서울 기준으로 02를 찾아야 함 - key를 기준으로 value를 찾을 수 있음

In [ ]:
print(my_dict['서울'])

In [ ]:
my_info = {
    'name': 'hyojin',
    'location': 'souel',
    'age': 10,
    'skill': ['python', 'git']
}

In [ ]:
print(my_info['name'])

In [ ]:
print(my_info['age'])

In [ ]:
# 출력된 대괄호는 리스트라는 것
# key를 뽑은 후 - 리스트이므로 원하는 것(2번째)을 뽑아낼 수 있어야 함
print(my_info['skill'])
print(my_info['skill'][1])

**데이터 타입**
1. Numbjer
2. Boolean
3. String
  
**자료구조**
- 시퀀스
1. [list] : mutable (수정가능)
2. (tuple) : immutable (수정불가)
3. range() : immutable
4. 'string' : immutable
    - immutable하다는 것은: 변수를 통으로 덮어쓰기는 가능, 일부수정은 불가.
- 시퀀스가 아닌 것
1. {set} : mutable (수정가능)
2. {Dict: ionary} : mutable

In [ ]:
a = 'hello'
a = 'hi'