# 자료구조
> 여러가지 자료구조가 가지고 있는 메소드(함수) 알아보기

In [1]:
print(dir('hello'))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'removeprefix', 'removesuffix', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

## 문자열 메소드

In [155]:
a = 'heLlo my name is hong'

In [156]:
print(a)

heLlo my name is hong

In [157]:
a[0] = 'H' # 스트링은 하나하나 수정 불가, 한꺼번에 덮어쓰기 가능

TypeError: 'str' object does not support item assignment

In [158]:
a.capitalize()  #  첫번째 문자를 대문자로 만들다
# a. ~ 는 a 안에 들어있는 것들에 함수를 실행해줘 (. = ~안에)

'Hello my name is hong'

In [159]:
print(a)
# 원본 데이터가 변경되는 게 아니라 출력만 되는 것
# 원본 데이터를 변경하고 싶으면 a 값 자체를 바꿔주어야 함

heLlo my name is hong

In [ ]:
a.title() # 각 단어들의 앞 문자를 모두 대문자로 변경해줌

In [ ]:
a.lower() #각 단어들의 앞 문자를 모두 소문자로 변경해줌

In [154]:
a.upper()

AttributeError: 'list' object has no attribute 'upper'

In [ ]:
my_list = ['my', 'name', 'is']
'!'.join(my_list) # 합치고 싶은 시퀀스형 데이터

In [ ]:
'?'.join('배고프다')

In [ ]:
a = '                 hello       \n'
a.strip() # 좌우 여백으로 생각되는 모든 여백(공백, \n, \t(tap, 들여쓰기))을 지워줌

In [ ]:
a = '!!!!!!!!!!hello         ?????????'
a.strip('!? ')

# def strip(char=' ')

In [ ]:
a = '---------hello----'
a.lstrip('-') # lstrip = 왼쪽만 반영하겠습니다.
a.rstrip('-') # rstrip = 오른쪽만 반영하겠습니다.

In [200]:
a = 'wooooooooooooooow'
a.replace('o', '!', 3)  # 철자 하나를 원하는 철자로 바꾸어 변경함
# 세번째 인자는 이 작업을 몇 번 할 것인지 (앞에서부터 3회)
# 세번째 인자는 써도 되고 안 써도 됨

'w!!!oooooooooooow'

In [ ]:
a = 'apple' # 인덱스 번호 출력
a.find('a') # => 0
a.find('l') # => 3
a.find('p') # 중복인 경우 가장 앞에 있는 인덱스를 출력함
a.find('z') # -1 => 없음

In [ ]:
a = 'apple'
a.index('a')
a.index('l')
a.index('p')
a.index('z')

# find와 index는 비슷함
# find는 없는 데이터인 경우 -1을 뱉음
# index는 없는 데이터인 경우 에러를 발생시켜서 코드를 완전히 종료

In [ ]:
a = 'my name is hong'
a.split() # a가 가진 데이터를 띄어쓰기 기준으로 잘라서 '리스트'로 만들어줌

In [ ]:
a = 'my!name!is!hong'
a.split('!') # 자르고 싶은 기준을 괄호에 넣으면 그 기준대로 잘라줌

In [ ]:
a = 'wooooooooooooow'
a.count('o') # o의 개수를 세어줭~

# 리스트 메소드

In [160]:
numbers = [2, 3, 3, 4, 8, 5, 9, 10]

In [161]:
numbers.append(11) # 뒤에 값을 붙여넣을 때 사용
print(numbers)

[2, 3, 3, 4, 8, 5, 9, 10, 11]

In [162]:
a = [99, 100]

In [163]:
numbers.extend(a) # 여러개의 값을 붙여넣을 때 사용, numbers + a
print(a)

[99, 100]

In [11]:
numbers.insert(3, 5) # ~로 ~을 집어넣는다.
print(numbers)

[2, 3, 4, 5, 5, 55, 8, 5, 9, 10, 11, 99, 100, 11, 99, 100]

In [16]:
numbers.remove(99) # 첫번째 값을 찾아서 제거, 제거할 것이 없으면 오류발생
print(numbers)

[2, 3, 4, 5, 55, 8, 5, 9, 10, 100, 99, 100]

In [20]:
numbers.pop() # uppend 의 반대, 뒤의 값을 제거
print(numbers)

[2, 3, 4, 5, 55, 8, 5, 9]

- 스택 = 누적 (접시를 쌓듯) first input / last output
- 큐= 줄서기 / 선입선출~

In [26]:
# 의도적으로 pop에 n번째를 기입하면 의도적으로 위치를 지정하여 삭제할 수 있음
# 따로 지정하지 않는 경우 스택 형식으로 사라짐
numbers.pop(0)
print(numbers)

[5, 55, 8, 5, 9]

In [28]:
numbers.sort() # 오름차순으로 정렬, 정렬된 순서로 값이 바뀜
print(numbers)

[5, 5, 8, 9, 55]

In [30]:
numbers.sort(reverse=True) # 옵션 줄 수 있음 (역순할까용? = 네)
print(numbers)

[55, 9, 8, 5, 5]

In [37]:
a = [5, 3, 4, 2, 6, 7]
print(sorted(a)) # 원본 리스트는 그대로 두고, 정렬된 새로운 리스트를 반환함
print(a)

[2, 3, 4, 5, 6, 7]
[5, 3, 4, 2, 6, 7]

In [40]:
my_list = ['a', 'e', '아', '호', 'o', 'b', 'z']
my_list.sort() # 글자는 유니코드 순으로 정렬함
print(my_list)

['a', 'b', 'e', 'o', 'z', '아', '호']

In [43]:
print(numbers)
numbers.reverse()
print(numbers)

[5, 5, 8, 9, 55]
[55, 9, 8, 5, 5]

In [45]:
numbers.count(5) # 같은 요소가 몇개 있는지 확인

2

# list copy
- copy_list = origin list[:] : 새로운 리스트를 만듦(데이터 값만 복사)
- copy_list = origin list : 같은 리스트를 공유(데이터 위치를 공유)
- copy_list = origin_list.copy() :  .copy()도 새로운 리스트를 만들기 때문에 [:]와 같은 효과
- [:] 는 "리스트를 통째로 복사" 한다는 뜻

In [47]:
# copy_list는 새로운 리스트를 만든 게 아니라
# 기존 리스트(origin_list)의 위치를 가르키는 것
# 따라서 둘은 연동이 되고 있음.
# 만약 origin_list를 그냥 두고 copy_list만 변경하고 싶다면 deepcopy가 필요!
origin_list = [1, 2, 3]
copy_list = origin_list

In [48]:
print(origin_list)
print(copy_list)

[1, 2, 3]
[1, 2, 3]

In [49]:
copy_list[0] = 100 
print(origin_list)
print(copy_list)
# 데이터 값이 아니라 데이터 위치를 가르킴

[100, 2, 3]
[100, 2, 3]

In [79]:
origin_list = [1, 2, 3]
copy_list = origin_list[:]
# 원본에 있던 오리진 리스트를 처음부터 끝까지 슬라이싱 해서 넣어주세요.
# [:]가 있으면 새로운 리스트가 만들어지고 그 안에 origin_list의 값이 복사됨
# 즉, copy_list는 origin_list와 같은 데이터를 가지지만 다른 위치에 저장된 별도 리스트!

copy_list[0] = 100
print(origin_list)
print(copy_list)

[1, 2, 3]
[100, 2, 3]

In [52]:
origin_list = [1, 2, [10, 11]]
copy_list = origin_list[:]

copy_list[0] = 100
copy_list[2][0] = -10

print(origin_list)
print(copy_list)

[1, 2, [-10, 11]]
[100, 2, [-10, 11]]

In [55]:
import copy # 추가하다, copy라는 모듈(공구상자)을 먼저 꺼내서

origin_list = [1, 2, [10, 11]]
copy_list = copy.deepcopy(origin_list) # 데이터를 완전 분리하여 카피함. 데이터를 직접 가져와서 카피할 거야. 값을 직접 가져올거야!

copy_list[0] = 100
copy_list[2][1] = -11

print(origin_list)
print(copy_list)

[1, 2, [10, 11]]
[100, 2, [10, -11]]

# list comprehension

In [58]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [61]:
result = [] # 데이터를 쌓을 공간 만들기

for number in numbers: # 
    temp = number ** 3
    result.append(temp)

print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [65]:
result = [number ** 3 for number in numbers] # for문 앞은 계산 결과, 뒤는 반복문
# result = [number1 **3, number2 **3, number3 **3... ]
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [68]:
# 짝수만 고르기
numbers = list(range(1, 31))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [70]:
result = []
for number in numbers:
    if number % 2 == 0:
        result.append(number)

print(result)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [76]:
numbers = list(range(1, 31))
[number for number in numbers if number % 2 == 0]
# numbers 반복 돌면서 하나하나를 number라고 부를거고
# number가 짝수면
# number 를 출력할거야.

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [78]:
numbers = list(range(1, 31))
[number * 2 for number in numbers if number % 2 == 0]
# numbers 반복 돌면서 하나하나를 number라고 부를거고
# number가 짝수면
# number 를 2씩 곱하면서 출력할거야.

[4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60]

In [4]:
# 연습! 모음제거
words = 'my name is hong'

# => my nm s hng

In [11]:
# *** 내가 푼 문제

vowels = ['a', 'e', 'i', 'o', 'u']
result = []
for i in words:
    if i not in vowels:
        result += i
    else:
        continue

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [118]:
# 1. for / if => 데이터 제거가 아니라 골라낸 것


vowerls = ['a', 'e', 'i', 'o', 'u']
result = []
words = 'my name is hong'
for char in words:
    # 모음인 경우
    if char in vowerls:  # 모음 목록에 포함되어 있다면
        pass
    # 자음인 경우
    else:
        result.append(char)

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [119]:
vowerls = ['a', 'e', 'i', 'o', 'u']
result = []
words = 'my name is hong'
for char in words:
    # 모음인 경우 => 모음이 아닌경우
    if char not in vowerls:  # 모음 목록에 없다면
        result.append(char) # 더해줘

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [132]:
vowerls = 'aeiou' # (vowerls = ['a', 'e', 'i', 'o', 'u'])
result = []
words = 'my name is hong'
for char in words:
    if char not in vowerls:  # 모음 목록에 없다면
        result.append(char) # 더해줘

print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [133]:
result = []
words = 'my name is hong'
for char in words:
    if char not in 'aeiou':
        result.append(char)
        
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [81]:
# 2. list comprehension => 데이터 제거가 아니라 골라낸 것

In [135]:
vowels = 'aeiou'
result = [char for char in words if char not in vowels]
print(result)
print(''.join(result))

['m', 'y', ' ', 'n', 'm', ' ', 's', ' ', 'h', 'n', 'g']
my nm s hng

In [138]:
# 3. replace 메소드
# 원본을 덧씌운 것으로 값 삭제에 가깝다고 보여짐
vowels = 'aeiou'

for char in vowels:
    words = words.replace(char, '')

print(words)

my nm s hng

# dictionary 메소드

In [13]:
info = {
    'name': 'hong',
    'location': 'seoul',
    'age': 20,
    'phone_book': {
        'kim': '010-1234-1234',
        'park': '010-4321-4321'
    },
    'models': ['iphone', 'ipad'],
}

In [21]:
print(info['name'])
print(info['age'])
print(info['phone_book']['park']) # 딕셔너리인 경우 key와 value 값으로 불러오기
print(info['models'][1]) # 리스트 타입인 경우 인덱스로 불러와야 함
print(info['models']['iphone']) # 리스트 타입이기 때문에 value 값으로 불러올 수 없음

choi
20
010-4321-4321
ipad

TypeError: list indices must be integers or slices, not str

In [18]:
info['name'] = 'lee'
print(info)

{'name': 'lee', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphon', 'ipad']}

In [20]:
info.update(name='choi')
print(info)

{'name': 'choi', 'location': 'seoul', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphon', 'ipad']}

In [22]:
info.pop('location') # 원하는 키값에 해당하는 정보를 모두 지울 때 사용
print(info)

{'name': 'choi', 'age': 20, 'phone_book': {'kim': '010-1234-1234', 'park': '010-4321-4321'}, 'models': ['iphon', 'ipad']}

In [31]:
print(info.get('name')) # 키 값을 가져와주세용
print(info['name'])

choi
choi

In [32]:
print(info.get('birth')) # get 메소드를 쓰면 없는 키값인 경우 오류 없이 '없음' 출력

None

In [40]:
print(info['birth']) # get 메소드 없는 경우 오류

KeyError: 'birth'

In [55]:
# 선생님 풀이
# 연습문제
# 각 타입별 인원수를 세어주세용

blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']
result = {
    'A': 0,
    'B': 0,
    'AB': 0,
    'O': 0,
}

for blood in blood_type:
    # result['A']
    result[blood] += 1

print(result)

{'A': 4, 'B': 2, 'AB': 2, 'O': 1}

In [56]:
# not solved

blood_type = ['A', 'B', 'A', 'B', 'O', 'AB', 'A', 'A', 'AB']
A = 0
B = 0
AB = 0
O = 0
def people(blood_type):
    for i in blood_type:
        if i == int(A):
            A += i

    return blood_type


# {'A': 4, 'B': 2, 'AB': 2, 'O':1}

In [53]:
print(people('A', 'B'))

TypeError: people() takes 1 positional argument but 2 were given

In [59]:
# 선생님 풀이
# 데이터가 정해지지 않은 dictionary인 경우 접근 방법
# 확인된 데이터값을 목록으로 만든다
# 목록 안에 값이 있는지 확인한다
# 값이 있다면 그 값에 +1
# 값이 없다면 새로운 목록 생성 및 1 출력

locations = ['서울', '서울', '대전', '부산', '대구', 'LA', '파리']
result = {} # 비어있는 딕셔너리 (추가될 데이터가 어떤 것일지 예측할 수 없기 때문)

for location in locations:
    if location in result.keys(): # result.keys는 result 값에 있는 key를 반환, 여기서 key는 location
        result[location] +=1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

In [62]:
locations = ['서울', '서울', '대전', '부산', '대구', 'LA', '파리']
result = {} # 비어있는 딕셔너리 (추가될 데이터가 어떤 것일지 예측할 수 없기 때문)

for location in locations:
    if result.get(location):
        result[location] +=1
    else:
        result[location] = 1
print(result)

{'서울': 2, '대전': 1, '부산': 1, '대구': 1, 'LA': 1, '파리': 1}

In [66]:
# not solved
locations = ['서울', '서울', '대전', '부산', '대구', 'LA', '파리']
result = {} # 비어있는 딕셔너리 (추가될 데이터가 어떤 것일지 예측할 수 없기 때문)

for location in locations:
    if location in result key:
        result[location] += 1
    else:
        result[location] = 1

print(result)
    
    
    # location이 result key 목록에 있으면 기존 데이터에 += 1,
else: # 목록에 없다면
    # 새로운 키를 등록하고 기본값으로 1을 지정

SyntaxError: invalid syntax (3715842873.py, line 6)

### dict comprehension

In [69]:
# {1: 1, 2: 8, 3: 27, ..., 10: 1000}
# key 값은 +1, value는 3제곱

result = {}
numbers = range(1, 11)

for number in numbers:
    result[number] = number ** 3 # result를 키로 사용

print(result)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [70]:
result = {number: number ** 2 for number in range(1, 11)}
print(result)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [73]:
# 미세먼지가 30보다 적은 지역 리스트 뽑기
dust = {
    '서울': 50,
    '인천': 100,
    '수원': 30,
    '부산': 0,
}

In [78]:
# 1. for
result = {}
for key, value in dust.items():
    # key, value = ('서울', 50)
    # item = ('서울', 50)
    if value <= 30:
        result[key] = value
print(result)

{'수원': 30, '부산': 0}

In [79]:
# 2. dict comprehension

result = {key: value for key, value in dust.items() if value <= 30}
print(result)

{'수원': 30, '부산': 0}

# Set 메소드

In [101]:
fruits = {'apple', 'banana', 'melon'}

In [89]:
print(fruits) # 시퀀스 타입이 아니기 때문에 순서가 상관 없이 출력됨

{'banana', 'melon', 'apple'}

In [102]:
fruits.add('watermelon')
print(fruits)

{'banana', 'watermelon', 'melon', 'apple'}

In [103]:
fruits.update({'orange', 'grape'})
print(fruits)

{'watermelon', 'orange', 'grape', 'banana', 'melon', 'apple'}

In [104]:
fruits.remove('apple') # apple을 찾아 지움
print(fruits)

{'watermelon', 'orange', 'grape', 'banana', 'melon'}

In [105]:
fruits.pop() # 랜덤하게 지워짐
print(fruits)

{'orange', 'grape', 'banana', 'melon'}

## map, filter, zip
- map(funtion, iterable, *iterables) : 모든 값을 반복하면서 계산하기
    - iterable => 시퀀스타입(for문으로 반복 가능한 객체)

In [109]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# => ['1', '2', '3', '4', ... '10']
# 일괄적으로 똑같은 작업을 한다


result = []
for number in numbers:
    result.append(str(number))

print(result)

['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [110]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
# => ['1', '2', '3', '4', ... '10']
# 일괄적으로 똑같은 작업을 한다


result = []
for number in numbers:
    result.append(number) # result에 더할거야.

print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
# numbers라는 리스트를 돌면서 str 함수를 적용해줘

result = list(map(str, numbers)) # 완성본을 list로 바꿔주세용

# lazy한 계산을 한다? => 당장 연산이 아니라 필요할 때 연산한다
# 아직 계산을 하지 않고 필요할 때에 계산함(메모리가 적음)

print(result)
print(list(result))

<map object at 0x000001E22E8AF910>
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [118]:
numbers = [1, 2, 3, 4, 5]
# => [1, 8, 27, 64, 125]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

[1, 8, 27, 64, 125]

In [ ]:
numbers = [세제곱(1), 세제곱(2),... 3, 4, 5]
# => [1, 8, 27, 64, 125]

result = []
for number in numbers:
    result.append(number ** 3)

print(result)

In [121]:
# map에 넣어줄 함수를 만들어서 사용!
def cube(x):
    return x ** 3

In [124]:
result = map(cube, numbers)
print(result)
print(list(result))

<map object at 0x000001E22E8A6530>
[1, 8, 27, 64, 125]

In [133]:
# 띄어쓰기가 들어간 글자 형태의 데이터 정제하기


test_input = '1 3 5 7 9'
# 1. 띄어쓰기 기준으로 나눈다
test_input.split()
# 2. 각 글자를 숫자로 바꾼다
map(int, test_input.split())
# 3. 리스트에 저장한다.
result = list(map(int, test_input.split()))
print(result)

[1, 3, 5, 7, 9]

### filter
- filter(funtion, iterable) : 정해진 값(함수=true/false가 나와야 하는 함수) 만큼 반복 * true인 경우에만 반복

In [135]:
def is_odd(x):
    return x % 2

In [136]:
numbers = [1, 2, 3, 4, 5, 6]

result = []
for number in numbers:
    if number % 2 == 1:
        result.append(number)

print(result)

[1, 3, 5]

In [143]:
result = filter(is_odd, numbers)

print(result)
print(list(result))

<filter object at 0x000001E22E932E00>
[1, 3, 5]

### zip
- 두개의 리스트를 같은 인덱스끼리 tuple로 묶어서 출력

In [146]:
a = [1, 2, 3]
b = [100, 200, 300]

result = zip(a, b)
print(result)
print(list(result))

<zip object at 0x000001E22EE4D640>
[(1, 100), (2, 200), (3, 300)]