# Error

## Syntax error

In [89]:
if True:
    pass
else

SyntaxError: expected ':' (3448656250.py, line 3)

In [90]:
print('hello)

SyntaxError: unterminated string literal (detected at line 1) (3574047905.py, line 1)

In [93]:
if True print('hello')

SyntaxError: invalid syntax (3421040245.py, line 1)

In [94]:
print('hello'

_IncompleteInputError: incomplete input (3871997710.py, line 1)

# exception

In [3]:
print(5/0)
# ZeroDivisionError : 수학적인 관점으로 동작 불가

ZeroDivisionError: division by zero

In [5]:
print(hello)
# NameError : '' 가 없으면 변수로 인식, 스트링으로 출력 원한다면 '' 필요
# 만약 변수를 출력했는데 오류가 난 경우

NameError: name 'hello' is not defined

In [9]:
1 + '1'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [10]:
'1' + 1

TypeError: can only concatenate str (not "int") to str

In [12]:
import random
random.sample([1, 2, 3, 4, 5])
# 하나의 위치인자가 필요하다 = 인자값 하나가 부족해 (~중에 '~개' 뽑아줘)

TypeError: Random.sample() missing 1 required positional argument: 'k'

In [15]:
random.sample([1, 2, 3], 1, 2, 3, 4, 5, 6, 7, 8)
# 불러올 수 있는 인자보다 더 많이 불러오려 했기 때문에 생기는 에러

TypeError: Random.sample() takes 3 positional arguments but 10 were given

In [17]:
int('4.5')
# '4.5'는 10진수가 아니기 때문에 정수로 바꿀 수 없어

ValueError: invalid literal for int() with base 10: '4.5'

In [21]:
numbers = [1, 2, 3]
numbers.index(100)
# 리스트 목록에 100이라는 숫자는 없습니당

ValueError: 100 is not in list

In [23]:
numbers[100]
# 100번째 데이터는 없음 오류 (내가 가지고 있는 데이터는 3개 뿐)

IndexError: list index out of range

In [25]:
my_dict = {
    'apple': '사과',
    'banana': '바나나',
}

In [27]:
my_dict['melon']
# my_dict에는 melon 키가 존재하지 않아

KeyError: 'melon'

In [32]:
import pandas
# pandas가 설치되지 않았기 때문에 나오는 오류
# 혹은 설치가 되어있는 이름을 잘 못 썼을 경우 (아래경우)

ModuleNotFoundError: No module named 'pandas'

In [31]:
import request
# 가상환경 활성화가 안 되어 있거나 오타가 났거나....

ModuleNotFoundError: No module named 'request'

## 예외처리
```python
try: 
    code
except 예외(에러값):
    code
```

In [42]:
try: 
    number = int(input('숫자를 입력해주세요')) # 시도하고 싶은 코드를 넣음
    print(f'입력하신 {number}의 세제곱은 {number ** 3}입니다.')
except: # 숫자가 아닌 걸 집어넣었을 경우 출력할 값
    print('숫자만 입력해주세요!')

숫자를 입력해주세요 호잇호잇

숫자만 입력해주세요!

In [48]:
try:
    num = int(input('100을 무엇으로 나누겠습니까?'))
    print(f'100을 {num}으로 나눈 결과는 {100/num}입니다.')
    # 100을 0으로 나누려고 할 경우 error
except ValueError:
    print('입력한 데이터는 숫자가 아닙니다.')
except:
    print('모든 수는 0으로 나눌 수 없습니다.')

100을 무엇으로 나누겠습니까? 0

모든 수는 0으로 나눌 수 없습니다.

In [61]:
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('오류입니다.')
else:
    print('여기는 else입니다.')
    
# else는 try를 실행하고 except를 만나지 않았을 때 실행 (에러가 안 났을 때 실행)

오류입니다.

In [68]:
try:
    numbers = [1, 2, 3]
    numbers[100]
except:
    print('오류입니다.')
finally:
    print('여기는 else입니다.')
    
# finally는 try를 실행하고 except를 만나든 만나지 않았든 무조건 실행(에러가 나든말든 실행)

오류입니다.
여기는 else입니다.

In [85]:
def my_div(a, b):
    try:
        return a / b
    except (ValueError, TypeError):
        return '숫자를 넣어주세요.'
    except ZeroDivisionError:
        return '0으로 나눌 수 없습니다.'
    except:
        return '무엇인가 잘못되었습니다.'

my_div('얍', '얍')

'숫자를 넣어주세요.'